<div>
  <h3> Application Form </h3>
  <form action="/job/{{job['id']}}/apply">
    
    <div class="mb-4">
    <label>Full Name</label><br>
    <input  type = "text" name = "full_name" placeholder="Enter your full name">
    </div>

    <div class="mb-4">
    <label>Address</label><br>
    <input type = "text" name = "address_1" placeholder="Address line 1">
    <input type = "text" name = "address_2" placeholder="Address line 2">
    </div>

    <div class="mb-4">
    <label>Email</label><br>
    <input type = "text" name = "email" placeholder="starboy@youtube.com">
    </div>

    <div class="mb-4">
    <label>LinkedIn</label><br>
    <input type = "text" name = "linkedin" placeholder="www.linkedin.com/...">
    </div>

    <div class="mb-4">
    <label>Education</label><br>
    <input type = "text" name = "education" placeholder="Enter your education">
    </div>

    <div class="mb-4">
    <label>Work Experience</label><br>
    <input type = "text" name = "work_experience" placeholder="Enter your work experience">
    </div>

    <div class="mb-4">
    <label>Resume Link</label><br>
    <input type = "text" name = "resume_link" placeholder="Enter your resume link">
    </div>

    <div class="mb-4">
    <input type="submit" name = "submit">
    </div>
    
  </form>
</div>