<!DOCTYPE html>
<html>
<head>
  {% include 'bootstrap.html' %}
  <title>TechnoDroid Careers</title>
  <style>
    #pplWorking{
      width:100%;
      height: 100%;
      object-fit:cover;
      border-radius:12px;
    }
  </style>

</head>
<body>
  
  {% include 'nav.html' %}
  {% include 'banner.html' %}

  <div class="container">
  <h1 class="text-center mt-2 mb-4">TechnoDroid Careers</h1>
  <div class="row" style="margin-bottom:20px">
    <div class="col-md-7">
      <p class="lead">
    TechnoDroid is a trailblazing technology company at the forefront of transformative advancements. With an unwavering commitment to pushing the boundaries of innovation, we are dedicated to creating solutions that shape the future in profound ways. Our company envisions a world where technology blends seamlessly with human potential, making the impossible possible and the unimaginable a reality.<br><br>
        Our mission is to redefine industries and elevate human experiences through cutting-edge technology and visionary ideas. By fostering a culture of curiosity, collaboration, and creativity, we strive to pioneer groundbreaking solutions that have a positive impact on society, the environment, and the way we live and work.
  </p>
    </div>
    <div class="d-none d-md-block col-md-5">
      <img id="pplWorking" src="/static/pplWorking.jpg">
    </div>
  </div>
  <h2 class="text-center mt-2 mb-3">Job Openings</h2>
  <div>
    {% for job in jobs %}
      {% include 'jobitem.html' %}
    {% endfor %}
  </div>
  <div class="text-center pt-2">
    <a href="mailto:hello@jovian.ai?subject=Need%20Customer%20Support&body=Your%20Name%3A%20%3C%20Name%20here%20%3E%0D%0AQuestion%3A%0D%0A%3C%20Question%20here%20%3E%0D%0A" class="btn btn-dark">Contact Us</a>
  </div>
</div>
  {% include 'footer.html' %}
</body>
</html>