<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-9">
    <h4 style="color:rgb(120,120,120);margin-top:4px">{{job['title']}}</h4>
    <div style="font-size:20px;"><b>Location: </b>{{job['location']}}</div>
    {% if job.salary is not none %}
    <div style="font-size:20px;"">
      <b>Salary: </b>{{job['salary']}}
      <br>
      <b>Currency: </b>{{job['currency']}}
    </div>
    {% endif %}
  </div>
  <div class="col-3">
  <a href="mailto:hello@jovian.ai?subject=Application%20for%20{{job['title']}}&body=Name%3A%20%3Cname%20here%3E%0D%0AResume%3A%20%3CResume%20link%3E%0D%0ALinkedIn%3A%20%3CLinkedIn%20link%3E" class="btn btn-primary">Apply</a>
  </div>
</div>